@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@import "swiper/css";
@import "swiper/css/free-mode";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Outline number like the reference */
.text-outline {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.09); /* soft outline */
  color: transparent; /* no fill */
}

/* custom css code */
/* Gradient token you asked for */
:root {
  --cryp-gradient: linear-gradient(
    to right,
    #5c63fa,
    #a868fa,
    #3dabf4,
    #5c63fa
  );
}

/* Optional: burger overlay tint */
.bm-overlay {
  background: rgba(0, 0, 0, 0.6) !important;
}
.bm-menu {
  background: #0b0b0c !important;
  padding: 1rem 1rem 0;
}
.bm-item-list a {
  color: #fff;
}

/* gradient button */

.btn-hover {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.grad_button {
  background-image: linear-gradient(
    to right,
    #5c63fa,
    #a868fa,
    #3dabf4,
    #5c63fa
  );

  /* padding: 10px 40px; */

  font-size: 20px;
  height: 63=2px;
}
.btn_hover2:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
